* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 65.2%;
}
:root {
    --cor-fundo: rgb(255, 255, 255);
    --cor-botoes1: #40abba;
    --cor-botoes2: #1e465d;
    --cor-textos: rgb(0, 0, 0);
}
/* body */
body {
   font-size: 1.6rem; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: var(--cor-textos);
   position: relative;
}
/* container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
/* header */
header {
    background: var(--cor-fundo);
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header-top a {
   text-decoration: none;
   color: var(--cor-botoes1);
}
.menu-top ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.menu-top a {
    padding: 1rem;
    color: var(--cor-textos);
    text-decoration: none;
    text-transform: capitalize;
}
.menu-top a:hover {
    color: var(--cor-botoes1);
}
.menu-top button {
    background: linear-gradient(to right, var(--cor-botoes1), var(--cor-botoes2));
    outline: none;
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: var(--cor-fundo);
    border-radius: 2rem;
    cursor: pointer;
}
/* main */
main {
    width: 100%;
}

/* hero */
.hero {
    width: 100%;
    height: 500px;
    background: url("../imgs/fundo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--cor-fundo);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero-meio {
    width: 100%;
}
.hero-meio2 {
    width: 100%;
}
.hero-meio2 h2 {
    font-size: 4.5rem;
    padding: 1rem 0;
}
.hero-meio2 strong {
    color: var(--cor-botoes1);
    display: block;
    padding: 1rem 0;
}